$dark-brown: #553c0f;       // selected element
$light-brown: #a67c00;      // active element
$gold: #bf9b30;             // hover element
$lighter-gold: #ffd400;
$crow-red: rgb(231, 28, 44);       
$theme-color: #f7d417;      // theme color
$lighter-yellow: #ffffb7;   // dropdown color (lighter version of theme)

a {
    text-decoration-style: none;
    background-color: transparent;
}


@media (min-width: 1500px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }

    .nav-container-right {
        margin-left: auto !important;
        margin-right: 0% !important;
        padding-right: 1vw;
        flex-direction: row !important;
    }
    
    .nav-container-left {
        margin-left: 0% !important;
        margin-right: auto !important;
        flex-direction: column !important;
    }
    
    .nav-container-col {
        flex-direction: column;
    }
    
    .nav-container-col-left-fix-stuff {
        margin-left: -5vw !important;
        padding-top: 1vh;
    }

}

.nav-min-size {
    min-height: 100px;
}

.destrech-img {
    width: 30%;
    height: 30%;
}

.navbar {
    background-color: $theme-color!important;
    font-weight: 600;
    z-index: 999; //Hacky way to make autocomplete appear over the navbar
    border-bottom: 3px solid $crow-red!important;
}

.dropdown-toggle {
    padding-top: 0.5rem;
    color: #9fa8da;
    white-space: nowrap;
    border: transparent;
    background-color: transparent!important; /* makes dropdown have transparent background color on first page load */
}

// this is a bootstrap class, so any changes need to have the !important tag on the end
.dropdown-item {
    color: $gold;
}


// the current drop-down menu item hovered on from within the browse drop-down
a.dropdown-item:hover {
    background-color: $lighter-gold!important;
    color: $dark-brown!important;
}

a.dropdown-item.active {
    font-weight: bold!important;
    background-color: $theme-color!important;
}

.dropdown-toggle:hover {
    color: $gold;
}

.dropdown-toggle:active {
    color: $light-brown;
}

.dropdown-menu {
    background-color: $theme-color;
    position: absolute;
    
}
.nav-link {
    color: $gold;
    font-size: large;
    padding-left: 2vw;
}

.nav-link:hover {
    color: $light-brown;
}



.btn:active {
    color: $dark-brown;
}

.active {
    color: $dark-brown!important;
}

.navbar-brand {
    padding-left: 1rem;
}

button#search-button {
    margin-top: 0px !important;

    display: inline-block !important;
    background-color: $light-brown;
    border-color: $dark-brown;
}

button#search-button:hover {
    display: inline-block !important;
    margin-top: 0px !important;
    background-color: $gold;
}
.cdk-overlay-container{
    position:fixed;
    z-index:9000 !important;
}

#searchBox{
    background-color: rgb(241, 237, 233) !important;
}

.searchField{
    height:60px;
    display:flex;
    flex-direction: row;
}
.search-icon {
    width: 20px;
    height:auto;
}

