<!-- Footer -->
<footer class="page-footer font-small blue pt-4 footer">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase footer-title">CIVAM</h5>
      </div>
      <!-- Grid column -->

      <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->

      <!-- Grid column -->
      <!-- <div class="col-md-3 mb-md-0 mb-3"> -->

        <!-- Links -->
        <!-- <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
        </ul>

      </div> -->
      <!-- Grid column -->

      <!-- Grid column -->
      <!-- <div class="col-md-3 mb-md-0 mb-3"> -->

        <!-- Links -->
        <!-- <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
        </ul>

      </div> -->
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-right py-3 cpright-bar">
    <ul class="list">
      <li class="item"><a routerLink='about' fragment='contact' class="link-style">Contact Us</a></li>
      <li class="item"><a routerLink='terms-and-conditions' class="link-style">Terms and Conditions</a></li>
    </ul>
    <div class="all-rights-reserved">
      © 2018-{{this.anio}}
      Crow Indian Virtual Archive. All Rights Reserved.
    </div>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->