<!-- Body of the Page -->
<div class = "container-fluid jumbotron text-center" style="font-size:4vw;"> 
    Picture Collections
</div>

<div class="row container-fluid">
    <div *ngFor="let item of items" class="col-xl-3 col-sm-6 py-2">
        <div *ngIf="item" class="card h-100">
            <img class="card-img-top" src="{{API_URL}}/media/{{item.cover_image}}">
            <div class="card-body">
                <a [routerLink]="['/items', item.item]"
                    class="card-title"
                    style="color:black; font-size:24px">{{item.name}}</a>
            </div>
        </div>
    </div>
</div>
