<div class="jumbotron container-fluid text-center text-md-center">
    <h1 class="title">People</h1>
</div>

<div class="container" section="people-page">
    <div class="row justify-content-center container-fluid">
        <div *ngFor="let person of people; let indexOfelement=index" class="col-md-4">
            <div *ngIf="person">
                <app-card [cover_image]="person.cover_image" [title]="person.name" [id]="person.id" [number]="indexOfelement" [route]=router_route>
                </app-card>
            </div>
        </div>
    </div>
</div>
