<div class="layers">

<div class="top-content background-img layer-lg">
    <div class="quote">
        "They want to be known"
    </div>
    <div class="speaker">
        - Peggy White Wellknown Buffalo
    </div>
</div>
<!-- Home Page Main Content Below Here -->   
<div id="home-collection-div" class="collection-container">
    <!-- If larger then 1000px -->
    <div *ngIf="this.innerWidth > this.smallWindow"
        class="home-collection-grid layer-unbounded collection-grid-col">
        <div class="collection-grid-left ">
            <p *ngFor="let collection of collections; let i=index" class="">
                <img *ngIf="collection.cover_image" class="collection-img"
                src="{{API_URL}}/media/{{collection.cover_image}}">
            </p>
        </div>
        <div class="collection-grid-right">
            <p class="collection-inline-text">
                Discription about what collections are and how to get to them.
            </p>
            <a routerLink="/collections"><button type="button" class="collection-btn">
                See Collections
            </button></a>
        </div>
    </div> <!-- If smaller then 1000px -->
    <div *ngIf="this.innerWidth <= this.smallWindow"
        class="home-collection-grid layer-unbounded collection-grid-row">
        <div class="collection-grid-top">
            <p *ngFor="let collection of collections; let i=index" class="">
                <img *ngIf="collection.cover_image" class="collection-img"
                src="{{API_URL}}/media/{{collection.cover_image}}">
            </p>
        </div>
        <div class="collection-grid-bottom">
            <p class="collection-inline-text">
                Discription about what collections are and how to get to them.
            </p>
            <a routerLink="/collections"><button type="button" class="collection-btn">
                See Collections
            </button></a>
        </div>
    </div> 
</div>
<div id="map-collection-div" class="collection-container">
    <!-- If larger then 992px -->
    <div *ngIf="this.innerWidth > this.smallWindow"
        class="home-collection-grid layer-unbounded collection-grid-col">
        <div class="collection-grid-left ">
            <p class="collection-inline-text">
                Discription about what collections are and how to get to them.
            </p>
            <a routerLink="/map"><button type="button" class="collection-btn">
                See the Map
            </button></a>
        </div>
        <div class="collection-grid-right">
            <p *ngFor="let collection of collections; let i=index" class="">
                <img class="collection-img"
                src="../../assets/images/doctoring_on_open_range.JPG">
            </p>
        </div>
    </div> <!-- If smaller then 992px -->
    <div *ngIf="this.innerWidth <= this.smallWindow"
        class="home-collection-grid layer-unbounded collection-grid-row">
        <div class="collection-grid-top">
            <p *ngFor="let collection of collections; let i=index" class="">
                <img class="collection-img"
                src="../../assets/images/doctoring_on_open_range.JPG">
            </p>
        </div>
        <div class="collection-grid-bottom">
            <p class="collection-inline-text">
                Discription about what collections are and how to get to them.
            </p>
            <a routerLink="/map"><button type="button" class="collection-btn">
                See the Map
            </button></a>
        </div>
    </div> 
</div>
<div class="mid-content barrier-img layer-lg">
    <div class="header">
        News
    </div>
</div>
    
</div>