
<!-- Body of the Page -->
<div *ngIf="collection">
    <div class = "container-fluid jumbotron text-center" style="font-size:4vw;"> 
        {{collection.title}}
    </div>

<!--                       <p style="font-size:1vw">{{collection.description}}</p> 
    <p class="text-center" style="font-size:20px">{{collection.description}}</p> -->

    <div class="row justify-content-center container-fluid">
<!--               <div class="col-lg-5"> -->
        <div *ngFor="let item of items" class="col-xl-3 col-sm-6 col-py-2">
            <div class="card h-100">
                <img *ngIf="item.cover_image" class="card-img-top" src="{{API_URL}}/media/{{item.cover_image}}">
                <div class="card-body">
                    <a [routerLink]="['/items', item.id]" class="card-title" style="color:black; font-size:24px">{{item.name}}</a>
                    <!-- <p class="card-text" style="font-size:14px">{{item.description}}</p> -->
                </div>
                <!-- <div class="card-footer">
                    <a [routerLink]="['/items', item.id]"
                        class="btn btn-outline-primary my-2 my-sm-0">Checkout Item</a>
                </div> -->
            </div>
        </div>
    </div>
    <br>
    <div class = "container jumbotron bg-primary">
        <div class = "row">
            <div class = "col-lg-12">
                <div class = "container text-center">
                <h3 style="font-size:2vw;"> Collection Information</h3>
                </div>
            </div>
        </div>
        <br>
        <div class ="row">
            <div class = "col-lg-3"></div>
            <div class = "col-lg-3">
                <div *ngIf="collection.description"><p><strong>Description</strong></p></div>
            </div>
            <div class = "col-lg-5">
                <div *ngIf="collection.description"><p>{{collection.description}}</p></div>
            </div>
        </div>

    <div *ngIf="collection.description" class="row">
        <div class="col-lg-12"><hr><br></div>
    </div>

    <div class ="row">
        <div class = "col-lg-3"></div>
        <div class = "col-lg-3">
            <div *ngIf="collection"><p><strong>Some other placeholder collection field</strong></p></div>
        </div>
        <div class = "col-lg-5">
            <div *ngIf="collection"><p>collection.Some_Placeholder</p></div>
        </div>
    </div>

</div>
