$dark-brown: #553c0f;       // selected element
$light-brown: #a67c00;      // active element
$gold: #bf9b30;             // hover element
$lighter-gold: #ffd400;

.card-title {
    text-align: center;
}

.btn-outline-warning {
    color: black!important;
    border-color: $lighter-gold!important;
}

.btn-outline-warning:hover {
    background-color: $lighter-gold!important;
}

.theme-filter {
    margin-top: 1rem;
    width: 50%;
}

.outline{
    background-color: white;
    opacity: .85;
}

.mat-expansion-panel{
    outline-color: #f7d417;
    outline-style: solid;
    opacity: .85;
}

.cInformation{
    text-align: center;
    display: block;
    color: black;
    
}



.kwords{
    float:left;
}

.creators{
    clear: both;
}
