
// Note: All the colours for the theme are set in this file, so if you want to adjust the theme,
// it's best to do so there by setting the appropriate variables (ex: set $primary to whatever
// you wan the primary colour for the theme to be)
@import "themes/yeti/variables";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; //Important
@import "~bootstrap/scss/bootstrap";
@import "themes/yeti/bootswatch";
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Sets global font styling */

$font-stack:    'Montserrat', sans-serif;
/*
$primary-color: #000000;
$font-weight-bold: 800;

// Global font styling
div {
    font-family: $font-stack;
    color: $primary-color;
}
*/

.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 16px;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    font-family: $font-stack;
}

// Use this class for consistent title styles
.title {
    font-weight: bold;
}

// Use this class for consistent subtitle styles
.subtitle {
    font-weight: bold;
}

// Use this class when adding captions for photos
.caption {
    // Fill in later
}

.heading {

}

.subheading {

}

p {
    padding: none;
}

a {
    color: blue;
}

body {
    background-color: #f0ead6;
    background: url('./assets/images/background-bill-yellowtail-cropped.jpg') no-repeat fixed;
    //-webkit-box-shadow: 0px 5px 17px 5px #000000; 
    //box-shadow: 0px 5px 17px 5px #000000;  
    // background-position: center top;
    // background-size: cover;
}

.jumbotron {
    //For debugging only (border on)
    // border: solid;
    //background: url('./assets/images/background-bill-yellowtail-cropped.jpg') no-repeat fixed;
   // background-position: center top;
   // background-size: cover;
    padding-top:5%;
    padding-bottom:4%;
    background-color: transparent;
    // padding-top: .3em;
    // padding-bottom: .3em;
    // -webkit-box-shadow: 0px 5px 17px 5px #000000; 
    // box-shadow: 0px 5px 17px 5px #000000;   
}

.container {
    //For debugging only (border on)
    // border: solid;

    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 1rem;
    font-size: 16px;
    margin: auto;
    margin-bottom: 0.5rem;
}

.row {
    row-gap: 2em;
}

.dropdown-item {
    //font-size: 1.3vw;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}


// .container-collections {
//     @extend .container-fluid;
//     width: 100%;
//     margin-right: -$grid-gutter-width;
//     margin-left: $grid-gutter-width/2;
// }


// .gradient-lg {
//     background-color: #D3D3D3;
// }

// // For smaller block backgrounds (titles, etc.)
// .gradient-sm {
//     background-color: #D3D3D3;
// }

// // For page title text
// .display-4 {
//     font-weight: bold;
// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
