@import "~bootstrap/scss/bootstrap";
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// html, body { height: 100%; width: 100%}

/* Sets global font styling */
$font-stack:    'Montserrat', sans-serif;
$primary-color: #000000;
$font-weight-bold: 800;

div {
    font-family: $font-stack;
    color: $primary-color;
    // font-weight: bold;
}

.h1, h1 {
    text-align: center;
    font-weight: $font-weight-bold;
}

// .section-title {
//     font: 'Montserrat', sans-serif;
//     color: #00ced1; 
// }