@import "~bootswatch/dist/yeti/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/yeti/bootswatch";
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Sets global font styling */
/*
$font-stack:    'Montserrat', sans-serif;
$primary-color: #000000;
$font-weight-bold: 800;

// Global font styling
div {
    font-family: $font-stack;
    color: $primary-color;
}
*/
body {
    background-image: url('./assets/images/background-bill-yellowtail-cropped.jpg');
}


.jumbotron {
    background-color: transparent;
}

.container {
    padding-top: 16px;
    padding-bottom: 32px;
}

/*
// For large block backgrounds
.gradient-lg {
    background-color: #D3D3D3;
}

// For smaller block backgrounds (titles, etc.)
.gradient-sm {
    background-color: #D3D3D3;
}

// For page title text
.display-4 {
    font-weight: bold;
}
*/
