@import "~bootstrap/scss/bootstrap";
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Sets global font styling */
$font-stack:    'Montserrat', sans-serif;
$primary-color: #000000;
$font-weight-bold: 800;

div {
    font-family: $font-stack;
    color: $primary-color;
}

body {
    background-color: black;
}

.jumbotron {
    background-color: #ffd900;
}

.container {
    background-color: grey;
    padding-top: 16px;
}

.container-fluid {
    background-color: grey;
}

.h1, h1 {
    text-align: center;
    font-weight: $font-weight-bold;
}