<div class="jumbotron container-fluid text-center text-md-center">
    <h1 class="title">Material Culture</h1>
</div>

<div class="container" section="material-culture-page">
    <div class="row justify-content-center container-fluid">
        <div *ngFor="let item of items; let indexOfelement=index" class="col-md-4">
            <div *ngIf="item">
                <app-card [cover_image]="item.cover_image" [title]="item.name" [id]="item.item" [number]="indexOfelement" [route]=route>
                </app-card>
            </div>
        </div>
    </div>
</div>