<div class="jumbotron container-fluid text-center text-md-center">
    <h1 class="title">Material Culture</h1>
</div>

<div class="container" section="material-culture-page">
    <div class="row justify-content-center container-fluid">
        <div *ngFor="let item of items" class="col-md-4">
            <div *ngIf="item">
                <div class="card h-100">
                    <img *ngIf="item.cover_image" class="card-img-top" src="{{API_URL}}/media/{{item.cover_image}}">
                    <div class="card-body">
                        <div class="card-title">
                            <a [routerLink]="['/items', item.item]" class="btn btn-outline-warning my-2 my-sm-0">{{item.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>