<!-- TODO: Remove all styling from in this HTML file and put in the SCSS file after Emily works on UI changes to this page -->
<!-- 3/25/21    -   Tim Mazzarelli  - Item will now display collection name-->
<div class="layers">
    <div *ngIf="item">
        <div class="top-content layer-lg" style="background: url({{API_URL}}/media/{{backgroundUrl}}) no-repeat fixed;">
            <div class="quote">
                {{item.name}}
            </div>
            <div class="speaker">
                <a class="top-link" href="collections/{{item.collection}}"> {{item.collection}} </a>
            </div>
        </div>
        <!--Grid row-->
        <div class="collection-container">
            <!--Grid column-->
            <ul class="item-button-column">
                <li class="nav-item ibc1  top-button" >
                    <a class="nav-link active" [ngClass]="{'nav-item-selected' :currentSubPage == 'item'}" href="{{currentPageUrl}}#item">Item</a>
                </li>
                <li class="nav-item ibc2" > 
                    <a class="nav-link" [ngClass]="{'nav-item-selected' :currentSubPage == 'attr'}" href="{{currentPageUrl}}#attr">Item Information</a>
                </li>
                <li class="nav-item ibc3" >
                    <a class="nav-link" [ngClass]="{'nav-item-selected' :currentSubPage == 'narr'}" href="{{currentPageUrl}}#narr">Narratives</a>
                </li>
            </ul>
            <!--/Grid column-->

            <!--Grid column-->
            <div class="item-content-panel">

                <!-- Tab panels -->
                <div class="tab-content pt-0">

                    <!--Panel 1-->
                    <div *ngIf="currentSubPage == 'item'">
                        <div *ngIf="item.description">
                            <div>
                                <p><strong>Description</strong></p>
                                <a>{{item.description}}</a>
                            </div>
                            <br>
                        </div>
                        <div class="item-grid-top-right">
                            <div *ngIf="videos">
                                <div *ngFor="let video of videos">
                                    <div style="padding:56.25% 0 0 0;position:relative;">
                                        <iframe [src]="video | safeUrl"
                                            style="position:absolute;top:0;left:0;width:100%;height:100%;"
                                            frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                                    </div>
                                    <script src="https://player.vimeo.com/api/player.js">
                                    </script>
                                    <br>

                                </div>

                                <div *ngIf="images">
                                    <div *ngIf="images.length < 2; else elseBlock">
                                        <ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false">
                                            <ng-template ngbSlide *ngFor="let image of images">
                                                <div class="picsum-img-wrapper">
                                                    <img (click)="toggleModal()"
                                                        src="{{API_URL}}/media/{{image.content}}" alt="Random slide"
                                                        class="image">
                                                    <app-modal [ngClass]="showHideModal()" [item]="this"
                                                        [API_URL]="API_URL" [image]="image"></app-modal>
                                                </div>
                                            </ng-template>
                                        </ngb-carousel>
                                    </div>
                                    <ng-template #elseBlock>
                                        <ngb-carousel [showNavigationArrows]="showNavigationArrows"
                                            [showNavigationIndicators]="showNavigationIndicators">
                                            <ng-template ngbSlide *ngFor="let image of images">
                                                <div class="picsum-img-wrapper">
                                                    <img (click)="toggleModal()"
                                                        src="{{API_URL}}/media/{{image.content}}" alt="Random slide"
                                                        class="image">
                                                    <app-modal [ngClass]="showHideModal()" [item]="this"
                                                        [API_URL]="API_URL" [image]="image"></app-modal>
                                                </div>
                                            </ng-template>
                                        </ngb-carousel>
                                    </ng-template>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!--/.Panel 1-->

                    <!--Panel 2-->
                    <div *ngIf="currentSubPage == 'attr'">
                        <div *ngIf="item.culture_or_community">
                            <div>
                                <p><strong>Culture or Community</strong></p>
                                <a>{{item.culture_or_community}}
                                </a>
                            </div>
                            <br>
                        </div>
                        <div *ngIf="item.other_forms">
                            <div>
                                <p><strong>Other Forms</strong></p>
                                <a>{{item.other_forms}}
                                </a>
                            </div>
                            <br>
                        </div>
                        <div *ngIf="item.digital_heritage_item">
                            <div>
                                <p><strong>Digital Heritage Item</strong></p>
                                <a>{{item.digital_heritage_item}}
                                </a>
                            </div>
                            <br>
                        </div>
                        <div *ngIf="item.date_of_creation">
                            <div>
                                <p><strong>Date of Creation</strong></p>
                                <a>{{item.date_of_creation}}
                                </a>
                            </div>
                            <br>
                        </div>
                        <div *ngIf="item.physical_details">
                            <div>
                                <p><strong>Physical Details</strong></p>
                                <a>{{item.physical_details}}
                                </a>
                            </div>
                            <br>
                        </div>
                        <div *ngIf="item.access_notes_or_rights_and_reproduction">
                            <div>
                                <p><strong>Access Notes or Rights and Reproduction</strong></p>
                                <a>{{item.access_notes_or_rights_and_reproduction}}
                                </a>
                            </div>
                            <br>
                        </div>
                        <div *ngIf="item.catalog_number">
                            <div>
                                <p><strong>Catalog Number</strong></p>
                                <a>{{item.catalog_number}}
                                </a>
                            </div>
                            <br>
                        </div>
                        <div *ngIf="item.external_link">
                            <div>
                                <p><strong>External Link</strong></p>
                                <a><a href={{item.external_link}} style="color:black;">Checkout More
                                        Here</a>
                                </a>
                            </div>
                            <br>
                        </div>
                        <div *ngIf="item.provenance">
                            <div>
                                <p><strong>Provenance</strong></p>
                                <a>{{item.provenance}}</a>
                            </div>
                            <br>
                        </div>
                        <div *ngIf="item.citation">
                            <div>
                                <p><strong>Citation</strong></p>
                                <a>{{item.citation}}
                                </a>
                            </div>
                            <br>
                        </div>
                        <div *ngIf="item.historical_note">
                            <div>
                                <p><strong>Historical Note</strong></p>
                                <a>{{item.historical_note}}
                                </a>
                            </div>
                            <br>
                        </div>
                        <div *ngIf="item.place_created">
                            <div>
                                <p><strong>Place Created</strong></p>
                                <a>{{item.place_created}}
                                </a>
                            </div>
                            <br>
                        </div>
                        <div *ngIf="creators && creators.length > 0">
                            <div>
                                <p><strong>Creator(s)</strong></p>
                                <div *ngFor="let creator of creators">
                                    <a [routerLink]="['/pori', creator.id]">
                                        {{creator.name}}
                                    </a>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div *ngIf="originals && originals.length > 0">
                            <div>
                                <p><strong>Location of Originals</strong></p>
                                <div *ngFor="let original of originals">
                                    <a [routerLink]="['/pori', original.id]">
                                        {{original.name}}
                                    </a>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div *ngIf="keywords && keywords.length > 0">
                            <div>
                                <p class="list-item"><strong>Keyword(s)</strong></p>
                                <div *ngFor="let keyword of keywords">
                                    <a [routerLink]="['/keyword-page', keyword.name]">
                                        {{keyword.name}}
                                    </a>
                                </div>
                            </div>
                            <br>
                        </div>

                    </div>
                    <!--/.Panel 2-->

                    <!--Panel 3-->
                    <div *ngIf="currentSubPage == 'narr'">
                        <div class="item-grid-bottom">
                            <div *ngIf="narratives">
                                <div id="body">
                                    <div class="card-body">
                                        <div *ngFor="let narrative of narratives">
                                            <h3 class="subtitle">{{narrative.author}}</h3>
                                            <p>{{narrative.content}}</p>
                                        </div>
                                        <div section="add-narrative-section">
                                            <h3 class="title" id="have-something-to-add">Have something to add?</h3>
                                            <form [formGroup]="narrativeForm" (ngSubmit)="submitNarrative()">
                                                <div class="form-group">
                                                    <label for="author">Name</label>
                                                    <input placeholder="Your name" type="text" formControlName="author"
                                                        class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && narrativeForm.controls.author.errors }" />
                                                    <div *ngIf="submitted && narrativeForm.controls.author.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="narrativeForm.controls.author.errors.required">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="narrative">Narrative</label>
                                                    <textarea placeholder="Your narrative" rows="3" type="text"
                                                        formControlName="narrative" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && narrativeForm.controls.narrative.errors }"></textarea>
                                                    <div *ngIf="submitted && narrativeForm.controls.narrative.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="narrativeForm.controls.narrative.errors.required">
                                                            Narrative
                                                            is
                                                            required</div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button [disabled]="loading" class="btn btn-primary">
                                                        <span *ngIf="loading"
                                                            class="spinner-border spinner-border-sm mr-1"></span>
                                                        Submit
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!--/.Panel 3-->


                </div>


            </div>
            <div class="empy-container"></div>
        </div>
        <!--Grid column-->

        <!--/Grid row-->

    </div>
</div>