<div class="jumbotron container-fluid text-center text-md-center">
    <h1 class="title">Collections</h1>
</div>

<div class="container" section="collections-page">
    <div class="row justify-content-center container-fluid">
        <div *ngFor="let collection of collections; let indexOfelement=index" class="col-md-4">
            <div *ngIf="collection">
                <app-card [cover_image]="collection.cover_image" [title]="collection.title" [id]="collection.id" [number]="indexOfelement">
                </app-card>
            </div>
        </div>
    </div>
</div>