$gold: #bf9b30;  


.collection-title {
    text-align: center;
}


.even {
    background-color: #FDF6CD;

}

.odd {
    background-color: #FEF9DC;
}

.collection-container {
    // margin-bottom: 2.5%;
    // padding-bottom:2.5%;
    color: #000;
    background-color: #fff3;

}

.layer-lg {
    width: 100%;
    height: 45vh;
    // margin-top: 3vh;
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
}

.layer-lg-ub {
    width: 100%;
    height: max(70vh, 100%);
    // max-height: 800px;
    min-height: 500px;
    // margin-top: 3vh;
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
}

.layer-md {
    width: 100%;
    height: 60vh;
    max-height: 600px;
    min-height: 300px;
    // margin-top: 3vh;
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
}

.layer-sm {
    width: 100%;
    height: 30vh;
    max-height: 300px;
    min-height: 200px;
    // margin-top: 3vh;
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
}

.layer-unbounded {
    width: 100%;
    height: fit-content;
    min-height: 300px;
    // margin-top: 3vh;
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 5%;
}

.top-content {
    @media (min-width:1500px) {
        padding-top: min(10%, 30vh);
    }
    @media (max-width:1500px) {
        padding-top: min(20%, 30vh);
    }
    background: url('../../assets/images/background-bill-yellowtail-cropped.jpg') no-repeat fixed;;
    margin-top: 3vh;
    overflow: visible;
    background-position: top;
    background-size: cover;
    background-attachment: scroll;
    font-weight: bold;
    text-align: center;
    color: #000;
    background-color: #0000000a;
    background-blend-mode: darken;
    font-weight: bolder;
    color: whitesmoke;    
    font-size:xx-large;
    text-shadow: 1px 1px #000000;   
}

.collection-grid-col {
    grid-auto-columns: 1fr;
    // column-gap: 10vw;
}

.collection-grid-row {
    grid-template-rows: 50%;
    row-gap: 10vw;
}

.collection-left-wrap-text {
    padding: calc(38px + 1vw);
    align-items: center;
    display: flex;
    flex-direction: column;
    // margin-right: -10vw;
    // padding-right: 10vw;
}

.collection-right-wrap-text {
    padding: calc(38px + 1vw);
    align-items: center;
    display: flex;
    flex-direction: column;
    // margin-left: -10vw;
    // padding-left: 10vw;
}


@media(min-width: 1500px) {
    .collection-collection-grid {

        img {
            z-index: -1;
        }


        display: grid;

        .collection-description {
            padding: 10%;
        }

        p {
            text-align: center;
            font-size: large;
        }

        h1 {
            text-align: center;
            font-weight: bold;
        }

        

        .collection-grid-left {
            grid-column: 1;
            text-align: left;
            font-size: xx-large;
            align-self: center;


            .collection-inline-text {
                display: inline-block;
                vertical-align: middle;
                line-height: normal;

            }
        }

        .collection-grid-right {
            grid-column: 2;
            text-align: right;
            font-size: xx-large;
            align-self: center;


            .collection-inline-text {
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
            }
        }

        .collection-grid-top {
            grid-row: 1;
        }

        .collection-grid-bottom {
            grid-row: 2;
            text-align: center;
            font-size: x-large;
        }

        .collection-img {
            width: 90%;
            height: auto;
            max-height: 50vh;
            object-fit: cover;
        }

        .collection-img-container {
            position: relative;
        }

        .collection-img-container-right {
            position: relative;
            padding-right: 15%;
        }

        .collection-img-container-left {
            position: relative;
            padding-left: 15%;
        }

        .collection-img-borderless {
            margin-bottom: 0 !important;
            margin-top: 0 !important;
        }


        .collection-img-text-img-left {
            bottom: 0;
            left: 5%;
            position: absolute;
        }

        .collection-img-text-img-right {
            bottom: 0;
            right: 5%;
            position: absolute;
        }


        .collection-btn {
            margin-top: 1vh;
            background-color: green; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: x-large;
        }

        .collection-compress-text {
            font-size: large;
        }
    }
}

@media(max-width: 1500px) {
    .collection-collection-grid {
        display: grid;
        padding-left: min(15%, 300px);
        padding-right: min(15%, 300px);

        .collection-description {
            padding: 10%;
        }

        p {
            text-align: center;
            font-size: small;
        }

        h1 {
            text-align: center;
            font-size: large;
            font-weight: bold;
        }

        .collection-grid-left {
            grid-column: 1;
            text-align: left;
            font-size: x-large;
            align-self: center;

            .collection-inline-text {
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
                font-size: large;
            }
        }

        .collection-grid-right {
            grid-column: 2;
            text-align: right;
            font-size: x-large;
            align-self: center;

            .collection-inline-text {
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
                font-size: large;
            }
        }

        .collection-grid-top {
            grid-row: 1;
        }

        .collection-grid-bottom {
            grid-row: 2;
            text-align: center;
            font-size: x-large;
        }

        .collection-img-container {
            position: relative;
        }

        .collection-img {
            width: 100%;
            height: auto;
            max-height: 50vh;
            // -o-object-fit: cover;
            object-fit: cover;
        }

        .collection-img-text-img-left {
            bottom: 0;
            left: 5%;
            position: absolute;
        }

        .collection-img-text-img-right {
            bottom: 0;
            right: 5%;
            position: absolute;
        }


        .collection-btn {
            margin-top: 1vh;
            background-color: green; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: x-large;
        }

        .collection-compress-text {
            font-size: medium;
        }
    }
}

.colAdd{
    text-align: center;
    font-size: xx-large;
    padding-top: 5% !important;
}
