.mapPage{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    background-color: #eeeeeec4;
  }

  .map {
    width: 100%;
    min-height: 30vh;
    height: 50vh;
    float: right;
    margin: 0 auto;
    margin-right: 0.5%;

    agm-map {
        height: 100%;
        width: 100%;
    }

  .side-panel {
    width: 20%;
  }
}


.accordion {
    //width: 100%;
    //height:100%;
    padding-bottom:0%;
}

.accordian-wrapper {
  margin-bottom:2vh;
}

.disabled-pointer {
    //pointer-events: none;
}  

.mat-dialog-title {
  text-align: center;
}

.matt-grid-opt-cover_image {
  width: 100%;
  height:100%;
}

.map-icon-credit {
  margin-top:1vh;
  margin-bottom:1vh;
}

.loginButton {
  float:left;
  padding-left: 20%;
  padding-bottom: 1%;
}

.registerButton {
  float:right;
  padding-right: 20%;
  padding-bottom: 1%;
}

.filter {
  display: grid;
  grid-gap: 5%;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.filter-item {
  padding:5%;
}

.filter-item-1 {
  grid-column: 1;
  grid-row: 1;
}

.filter-item-2 {
  //grid-column: 2/3;
  grid-row: 1;
}

.filter-item-3 {
  grid-column: 4;
  grid-row: 1;
}

#title {
    font-size: 2em;
}
  .btn{
    float: right;
    vertical-align: middle;
    margin: 0 auto;
  }
  .card{
    width: 35vw;
    height: 30vh;
  }
  i{
    width: 2em;
    text-align: center;
  }

.details{
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:30vh;
}
  .beforeClick{
    padding: 2.5%;
    font-size: 3em;
    margin: 0 auto;
  }
  .afterClick{
    padding-top: 2.5%;
    //padding-bottom: 2.5%;
    margin: 0 auto;
  }

  .clickableCardItem:hover {
    color: #2e2e2e;
    border-radius: 25%;
    background: #b0e0e6;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }

  .mat-grid-tile {
    border: solid 2px #000;
}

.info {
  width:25vw;
  height:25vh;
  padding:1rem;

  .info-title {
    font-size: 1vw;
  }


}