.ButtonContainer {
    text-align: center; 
}

.FullScreenButton {
    text-align: center;
    padding: auto;
    width: 128px;
    height: 36px;
    margin-right: 0%!important;
}

#full-map-container {
    margin-left: 0!important;
    margin-right: 0!important;
}