.ButtonContainer {
    text-align: center; 
}

.FullScreenButton {
    text-align: center;
    padding: auto;
    width: 128px;
    height: 36px;
}

.map_container {
    height:100vh;
}

agm-map {
    height: 800px;
  }