
<div class="layers">
   <div class="top-content background-img layer-lg">
      <div class="title">
         Map of Crow Collections Around the World
      </div>
   </div>
   <div class="context-content layer-sm">
      <div [innerHTML]="siteText"></div>
   </div>
   <div class="">
      <form class="filter" [formGroup]="form">
         <div class="filter-item-1 filter-item">
            <section class="">
               <span class="">
                  <ul>
                     <li *ngFor="let selectFilter of boolFilters">
                        <mat-checkbox class="example-margin" [formControlName]="selectFilter[0]">
                           {{selectFilter[1]}}
                        </mat-checkbox>
                     </li>
                  </ul>
               </span>
            </section>
         </div>

         <div class="filter-item-2 filter-item" [attr.grid-column]="0"
            *ngFor="let selectDropDown of dropDownFilters; let i = index">
            <section>
               <mat-form-field appearance="fill">
                  <mat-label>{{selectDropDown[0]}}</mat-label>
                  <mat-select [formControlName]="selectDropDown[0]" multiple>
                     <mat-option *ngFor="let element of selectDropDown[1]" [value]="element">
                        {{element}}
                     </mat-option>
                  </mat-select>
               </mat-form-field>
            </section>
	 </div>        
         <div class="filter-item-3 filter-item">
            <button type="button" class="btn btn-light " style="background-color: #F1FAEE;" (click)="filterData()"
               style="margin-left:1%;">Search</button>
         </div>
	<div class="filter-item-4 filter item">
            <button type="reset" class="btn btn-light " style="background-color: #F1FAEE;" (click)="clearFilterData()"
               style="margin-left:1%;">Clear</button>
	</div>
      </form>
   </div>
   <div class="layer-lg-ub">

      <div class="mapPage">

         <div class="map" *ngIf="map_loaded">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [usePanning]="panning" (mapClick)="close_window()" class="accordion">
		<agm-marker-cluster>
               <div *ngFor='let marker of mapMarkers'>
                  <agm-marker [latitude]="marker.lat" [longitude]="marker.lng" [title]="marker.title" [label]=""
                     (markerClick)="showMarker(marker.title, infoWindow)" [animation]="marker.animation"
                     [iconUrl]="marker.customImgUrl.icon">
                     <agm-info-window [maxWidth]=1000 #infoWindow>
			<div *ngIf="clicked" class="afterClick">
                            <div *ngIf="selectedMarker" class="info">
                              <div id="content">
    				<a href="{{selectedMarker.getElement('url')}}"><h5>{{selectedMarker.getElement('name')}}</h5></a>
				   <h6>{{selectedMarker.getElement('cityProvinceCountry')}}</h6><br>
				   <p>{{selectedMarker.getElement('history')}}</p>
			           <mat-grid-list cols="2" rowHeight="15px">
				      <mat-grid-tile *ngFor="let tile of txtTile" [colspan]="tile.cols" [rowspan]="tile.rows">
				         <div *ngIf="tile.text == 'crow_material'">
				            Crow Material: {{selectedMarker.getElement(tile.text)}}
				         </div>
				         <div *ngIf="tile.text == 'digital_collection'">
				            Digital Collection: {{selectedMarker.getElement(tile.text)}}
				         </div>
				      </mat-grid-tile>
				   </mat-grid-list>
                              </div> 
                            </div>
			</div>
                     </agm-info-window>
                  </agm-marker>
               </div>
		</agm-marker-cluster>
            </agm-map>
         </div>
      </div>
   </div>
   <div class="layer-sm-lock disclamer">
      <div class="map-icon-credit">
         Map icons CC-0 from <a href='http://www.sjjb.co.uk/mapicons/'>SJJB Management</a>
      </div>
   </div>
   <!-- <div style="height:1000px">
      <div style="display:grid;  grid-template-columns: auto; column-gap: 1%; grid-template-rows: auto; row-gap: 1%;">
         <div style="grid-column-start: 1; grid-column-end: 5; grid-row-start: 1; grid-row-end: 5;">
            IMG
         </div>
         <div style="grid-column-start: 5; grid-column-end: 15; grid-row-start: 1; grid-row-end: 3;">
            Title
         </div>
         <div style="grid-column-start: 5; grid-column-end: 15; grid-row-start: 3; grid-row-end: 4;">
            addr
         </div>
         <div style="grid-column-start: 5; grid-column-end: 15; grid-row-start: 4; grid-row-end: 5;">
            url
         </div>
         <div style="grid-column-start: 1; grid-column-end: 12; grid-row-start: 5; grid-row-end: 9;">
            notes
         </div>
         <div style="grid-column-start: 12; grid-column-end: 15; grid-row-start: 5; grid-row-end: 7;">
            Crow
         </div>
         <div style="grid-column-start: 12; grid-column-end: 15; grid-row-start: 7; grid-row-end: 9;">
            Digi
         </div>
      </div>
   </div> -->
</div>
