<div class="jumbotron container-fluid text-center text-md-center" *ngIf="!toggleButton">
    <h1 class="title">Crow Collections Around the World</h1>
</div>

<div class="map-container" *ngIf="!toggleButton">
    <app-small-map></app-small-map>
 </div>

 <div class="map-container" id="full-map-container" *ngIf="toggleButton">
    <app-full-map></app-full-map>
 </div>

 <div class="ButtonContainer">
    <button class="FullScreenButton" (click)="makeFullScreen()">{{buttonMessage}}</button>

 </div>




