<div style="margin-top: 7vh;"></div>
<p>news works!</p>
<div *ngIf="this._newsList != null">
    <div id="news-feed">
        <mat-grid-list cols="4" rowHeight="10vh" class="card"
            *ngFor="let article of _newsList">
            <mat-grid-tile
                *ngFor="let tile of tiles"
                [colspan]="tile.cols"
                [rowspan]="tile.rows"
                [style.background]="tile.color">
                <div *ngIf="tile.text == 'cover_url'">
                    <img src="{{API_URL}}/media/{{article.getElement(tile.text)}}"
                        alt="Random slide" class="image">
                </div>
                <div *ngIf="tile.text == 'tags.text'">
                    <mat-chip-list aria-label="Tags">
                        <mat-chip *ngFor="let i of article.getElement(tile.text)">{{i}}</mat-chip>
                    </mat-chip-list>
                </div>
                <div *ngIf="tile.text == 'published_on'">
                    {{article.getNewsDate()}}
                </div>
                <div *ngIf="tile.text != 'cover_url' && tile.text != 'tags.text' && tile.text != 'published_on'">
                    {{article.getElement(tile.text)}}
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
<div *ngIf="this._newsList == null">
    Loading News...
</div>