h1 {
    text-align: center;
    font-weight: bold;
}
h3 {
    text-align: center;
}
.jumbotron {
    background-color: transparent;
}
h6 {
    font-weight: bold;
}

p {
    text-indent: 50px;
}