$dark-brown: #553c0f;       // selected element
$light-brown: #a67c00;      // active element
$gold: #bf9b30;             // hover element
$lighter-gold: #ffd400;

.block-margin {
    margin-bottom: 0rem;
}

.about-description {
    text-align: center;
}

.people-names {
    font-weight: bold;
}

.row {
    position: auto!important;
}

.collapse-button {
    font-weight: bold;
}

button {
    background-color: lightyellow;
    color: $dark-brown;
}

#button_group {
    border-radius: 3px !important;
}

.mat-tab-group {
    margin-bottom: 48px;
}

::ng-deep.mat-tab-label.mat-tab-label-active {
    background-color: #f7d417;
    opacity: 1;
}

::ng-deep.mat-tab-label {
    background-color: #f7d417;
    opacity: .7;
}

.const-img {
    max-width:100%;
    width: 80%;
    height:auto;
}