
<div *ngIf="pori">
    <div class = "container jumbotron bg-primary">
        <div class = row>
            <div class = "col-lg-6">
                <h1 style="font-weight: bold;">{{pori.name}}</h1>
                <p *ngIf="pori.description" style="font-size:2vw;">{{pori.description}}</p>
            </div>
            <div class = "col-lg-6">
                <img *ngIf="pori.cover_image" src="{{API_URL}}/media/{{pori.cover_image}}" class="img-fluid rounded float-left">
            </div>
        </div>
    </div>

    <div class = "container jumbotron bg-primary">
        <div class = "row">
            <div class = "col-lg-12">
                <div class = "container text-center">
                <h3 style="font-size:2vw;">Information</h3>
                </div>
            </div>
        </div>
        <br>

         <div *ngIf="pori.culture">
            <div class ="row">
                <div class = "col-lg-3"></div>
                <div class = "col-lg-3">
                    <div><p><strong>Culture</strong></p></div>
                </div>
                <div class = "col-lg-5">
                    <div><p>{{pori.culture}}</p></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12"><hr><br></div>
            </div>
        </div>

        <div *ngIf="pori.dates">
            <div class ="row">
                <div class = "col-lg-3"></div>
                <div class = "col-lg-3">
                    <div><p><strong>Dates</strong></p></div>
                </div>
                <div class = "col-lg-5">
                    <div><p>{{pori.dates}}</p></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12"><hr><br></div>
            </div>
        </div>

        <div *ngIf="pori.historical_note">
            <div class ="row">
                <div class = "col-lg-3"></div>
                <div class = "col-lg-3">
                    <div><p><strong>Historical Note</strong></p></div>
                </div>
                <div class = "col-lg-5">
                    <div><p>{{pori.historical_note}}</p></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12"><hr><br></div>
            </div>
        </div>

    </div>
</div>