$dark-brown: #553c0f;       // selected element
$darkless-brown: #77510d; 
$light-brown: #a67c00;      // active element
$gold: #bf9b30;             // hover element
$lighter-gold: #ffd400;

$gold-l1: #FDF6CD;
$gold-l2: #FEFCEE;

.card {
    margin-bottom: 5vh;

    .text {
        padding: 5%;
        text-align: left;
        word-wrap: normal;
    }
}

.image {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.layers {


    .layer-lg {
        width: 100%;
        height: max(70vh, 100%);
        max-height: 800px;
        min-height: 500px;
        //margin-top: 3vh;
        padding-top: 2.5%;
        padding-left: 5%;
        padding-right:5%;
    }
  
    .layer-lg-ub {
        width: 100%;
        height: max(70vh, 100%);
        //max-height: 800px;
        min-height: 500px;
        //margin-top: 3vh;
        padding-top: 2.5%;
        padding-left: 5%;
        padding-right:5%;
    }
  
    .layer-md {
        width: 100%;
        height: 60vh;
        max-height: 600px;
        min-height: 300px;
        //margin-top: 3vh;
        padding-top: 2.5%;
        padding-left: 5%;
        padding-right:5%;
    }
  
    .layer-sm {
        width: 100%;
        height: 30vh;
        max-height: 300px;
        min-height: 200px;
        //margin-top: 3vh;
        padding-top: 2.5%;
        padding-left: 5%;
        padding-right:5%;
    }
  
    .layer-sm-lock {
      width: 100%;
      //height: 30vh;
      max-height: 250px;
      min-height: 100px;
      //margin-top: 3vh;
      padding-top: 2.5%;
      padding-left: 5%;
      padding-right:5%;
  }
  
    .layer-unbounded {
        width: 100%;
        height: fit-content;
        min-height: 300px;
        //margin-top: 3vh;
        padding-top: 4%;
        padding-left: 5%;
        padding-right:5%;
    }
  
    .top-content {
        @media (min-width:1500px) {
            padding-top: min(10%, 30vh);
        }
        @media (max-width:1500px) {
            padding-top: min(20%, 30vh);
        }
        margin-top: 3vh;
        overflow: visible;
        background-position: center;
        background-size: cover;
        background-attachment: scroll;
        font-size: xxx-large;
        font-weight: bold;
        text-align: center;
        color: #000;
        background-color: #0000000a;
        background-blend-mode: darken;
        font-weight: bolder;
        font-size: 3vw;
        color: whitesmoke;
    
        
        .top-title {
            
        }

        .top-author {
            font-size: x-large;
        }
    }

    .collection-container {
        //margin-bottom: 2.5%;
        padding-bottom:2.5%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2.5%;
        color: #000;
        background-color: #fff3;
        display: grid;
        grid-template-columns: 15% 65% 15%;
        column-gap: 2.5%;
    }
    
    .item-button-column{
        display: grid;
        row-gap: 1vh;
        width: auto;
        //float:left;
        grid-column: 1;
        height: 10vh;
        float: right;
        text-align: center;
        font-size: larger;
        
        margin-left: auto;
        margin-right: 1vw;
        .ibc1{
            grid-row: 1;
        }
        .ibc2{
            grid-row: 2;
        }
        .ibc3{
            grid-row: 3;
        }
        .ibc4{
            grid-row: 4;
        } 
    }
    
    .item-content-panel{
        display: grid;
        grid-column: 2;
    }
    
    .kwords{
        float:left;
    }
    
    
    .empy-container{
        grid-column: 3;
    }
    .nav-item{
        //background-color: #553c0f;
        text-decoration-style: none;
        color: black;
        list-style: none;
        text-decoration: none;
        border-top: 1px solid rgb(197, 196, 196);
        
    }
    .nav-item:hover{
        //background-color: #dbd7d0;
        text-decoration-style: none;
        color: $light-brown !important;
        list-style: none;
        text-decoration: none;
        border-top: 1px solid rgb(197, 196, 196);
    }
    .top-button{ 
        border-top: none !important;
    }
    .nav-item-selected{
        text-decoration-style: none;
        color: $darkless-brown !important;
        text-decoration: none;
    }
    .nav-link{
        color: black;
        text-decoration: none;
    }
    .nav-link:hover{
        color: $light-brown !important;
        text-decoration: none;
    }
  
    
    .context-content {
      text-align: center;
      color: #000;
      font-size: 150%;
    }
  
    .disclamer {
      margin-bottom: 1rem;
    }
  
    .mid-content {
        padding-top:6%;
        overflow: visible;
        background-position: top;
        background-size: cover;
        background-attachment: scroll;
        font-size: xxx-large;
        font-weight: bold;
        text-align: center;
        color: #000;
        background-color: #fff3;
        background-blend-mode: lighten;
  
        .header {
            text-align: left;
        }
    }
    
    .news-carousel-wrapper {
  
    }
  
    .news-carousel-override {
        margin-left: auto;
        margin-right: auto;
    }
  
    .news-carousel-subtitle {
        font-size: large;
    }

    .news-feed {
        .remove-decoration {
            text-decoration: none;
            color: inherit;
        }

        .news-title {
            font-size: xx-large;
        }
    }
  }
  