
<h1>{{item.name}}</h1>
{% if image %}
{{image.content.url}}
<img src="{{image.url}}"/>
{% endif %}
<h2>{{item.description}}</h2>


<h3>Stories</h3>
{% if stories %}
    <ul>
        {% for story in stories %}
            <li>{{story.content}}</li>
            By {{story.created_by}}
        {% endfor %}
    </ul>
{% else %}
    <p>no stories yet for this item</p>
{% endif %}
<form method="POST">
{% csrf_token %}
{{form}}
<br>
<button type="submit" class="btn btn-default">Add Story</button>
</form>
