<div class="top-content barrier-img layer-lg">
    <h1 class="title">Explore</h1>
</div>

<div *ngIf="explores">
    <div class="exploreFlex">
        <div *ngFor="let explore of explores; let indexOfelement = index" class="exploreItemFlex">
            <div *ngIf="explore" class="exploreItem">
                <a href="/search-result;data={{explore.name}}" style="text-align:center;">
                    <button class="exploreButton"
                        style="background: url({{API_URL}}/media/{{explore.background_image}}) no-repeat fixed;">
                        <span>{{explore.name}} </span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!explores">
    <br>
    <h1 style="text-align: center;">Topics to explore will be added soon...</h1>
</div>
