<div *ngFor="let collection of collections" class="col-md-4">
    <!-- removed these classes: col-xl-3 col-sm-6 col-py-2 -->
    <div *ngIf="collection">
        <div class="card h-100">
            <img *ngIf="collection.cover_image" class="card-img-top" src="{{API_URL}}/media/{{collection.cover_image}}">
            <div class="card-body">
                <div class="card-title">
                    <a [routerLink]="['/collections', collection.id]"
                        class="btn btn-outline-warning my-2 my-sm-0">{{collection.title}}</a>
                </div>
            </div>
        </div>
    </div>
</div>