<div class="card h-100" something=this (mouseover)="mouseOver()" (mouseout)="mouseOut()">
    <img *ngIf="cover_image" class="card-img-top" src="{{API_URL}}/media/{{cover_image}}">
    <div *ngIf="cover_image" class="card-body">
        <a [routerLink]="[route, id]" class="btn btn-outline-warning my-2 my-sm-0">{{title}}</a>
    </div>
    <img *ngIf="!cover_image" class="card-img-top" style="background-color: black;">
    <div *ngIf="!cover_image" class="card-body no-image">
        <a [routerLink]="[route, id]" class="btn btn-outline-warning my-2 my-sm-0">{{title}}</a>
    </div>
</div>