.blockquote {
    width: 35%;
    min-width: fit-content;
}

.card-title {
    text-align: center;
}

.btn-outline-warning {
    color: black!important;
    border-color: $lighter-gold!important;
}

.btn-outline-warning:hover {
    background-color: $lighter-gold!important;
}